# Default ignored files
../.gradle
/shelf/
/workspace.xml
*.xml
.name
/codeStyles
gradle/
misc.xml
compiler.xml
gradle.xml
jarRepositories.xml
vcs.xml
/misc.xml
/compiler.xml
/gradle.xml
/jarRepositories.xml
/vcs.xml



